body {
    font-family: 'Work Sans', sans-serif;
    padding-top: 56px;
}

@media (min-width: 992px) {
    body {
        padding-top: 72px;
    }
}


@media (min-width: 1440px) {
    body {
        zoom: 112%;
    }
}

.wrapper {
    /* height: 100vh; */
    padding: 112px 0;
}

.wrapper .heading {
    margin-top: 0;
}

#mega-banner {
    height: 100vh;
    background-image: url(/assets/img/BannerImage_R03_PV.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.heading {
    margin-top: clamp(40px, 8%, 80px);
    margin-bottom: clamp(24px, 4%, 40px);
}

.card-deck .card {
    border: none;
}

.card-header {
    background-color: initial;
    border-bottom: none;
}

.banner {
    text-align: center;
    padding: 24px 0;
    background-color: #9199B6;
}

.banner h1 {
    color: #ffffff;
    margin-bottom: 0;
}

.text-wrapper {
    max-width: 545px;
    float: right;
    margin-right: 141px;
}


.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.nav-tabs .nav-link {
    white-space: nowrap;
}

dl {
    margin-bottom: 0;
}

dt {
    font-weight: inherit;
}


.list-group-flush>.list-group-item {
    padding-left: 0;
    padding-right: 0;
}