body {
    font-family: 'Work Sans', sans-serif;
    /* padding-top: 56px; */
}

@media (min-width: 992px) {
    body {
        /* padding-top: 72px; */
    }
}


@media (min-width: 1440px) {
    body {
        /* zoom: 112%; */
    }
}

.wrapper {
    /* height: 100vh; */
    /* padding: 80px 0; */
    padding-top: clamp(24px, 8%, 80px);;
    padding-bottom: clamp(24px, 8%, 80px);;
}

.wrapper .heading {
    padding-top: 0;
}

.wrapper .heading {
    margin-top: 0;
}

#mega-banner {
    height: 100vh;
    background-image: url(/assets/img/BannerImage_R03_PV.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.container,.container-fluid,.container-xl,.container-lg,.container-md,.container-sm {
    padding-right: clamp(24px, 8%, 40px);
    padding-left: clamp(24px, 8%, 40px);
}


.heading {
    padding-top: clamp(40px, 8%, 80px);
    padding-bottom: clamp(24px, 4%, 40px);
}

.heading-title {
    margin-bottom: 0;
}

.heading-subtitle {
    margin-bottom: 0;
}


.card-deck .card {
    border: none;
}

.card-header {
    background-color: initial;
    border-bottom: none;
}

.banner {
    text-align: center;
    padding: 24px 0;
    background-color: #9199B6;
}

.banner h1 {
    color: #ffffff;
    margin-bottom: 0;
}

.text-wrapper {
    max-width: 545px;
    float: right;
    margin-right: 141px;
}


.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.nav-tabs .nav-link {
    white-space: nowrap;
}

dl {
    margin-bottom: 0;
}

dt {
    font-weight: inherit;
}


.list-group-flush>.list-group-item {
    padding-left: 0;
    padding-right: 0;
}





/********** Footer **********/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 55px;
    margin-bottom: 1673px;
}

@media (min-width: 480px) {
    body {
        margin-top: 60px;
        margin-bottom: 1433px;
    }
}

@media (min-width: 768px) {
    body {
        margin-top: 65px;
        /* margin-bottom: 460px; */
    }
}

@media (min-width: 992px) {
    body {
        margin-top: 80px;
        margin-bottom: 816px;
        /* margin-bottom: 1433px; */
    }
}

@media (min-width: 1200px) {
    body {
        margin-bottom: 682.53px;
    }
}

main.container {
    padding-bottom: clamp(40px, 8%, 80px);;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    padding-top: clamp(40px, 8%, 80px);
    padding-bottom: clamp(40px, 8%, 80px);
    background-color: #9199B6;
    color: #ffffff;
}

footer a, footer a:hover {
    color: inherit;
    text-decoration: underline;
}



#main-banner {
    background-image: url(https://images.contentstack.io/v3/assets/blt6529a38ed60e1ea5/blt483b97a375f8acf9/60764f8feea64578d07fa234/BannerImage_Desktop_R03_CB.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#product-category #product-title {
    text-align: center;
    background-color: rgba(57, 197, 213, 16%);
    color: rgba(57, 197, 213, 100%);
    padding: 12px;
}

#product-category .card {
    overflow: hidden;
}

#product-category .card:hover #product-title {
    text-align: center;
    background-color: rgba(57, 197, 213, 100%);
    color: white;
}



.grid {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    grid-auto-flow: column;
}

#product-category {
    grid-column: auto;
    grid-auto-columns: 176px;
}