---
layout: base
layout-type: #container | container-fluid
custom-stylesheet: 
---

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <picture>
        <source media="(min-width: 992px)" srcset="https://dummyimage.com/258x48/f1f2f3/aaaaaa&text=Kwik.Insure">
        <img src="https://dummyimage.com/174x32/f1f2f3/aaaaaa&text=Kwik.Insure" alt="">
      </picture>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% include components/molecules/nav.html data=site.data.navigation.global %}

      <div data-netlify-identity-menu></div>

  
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#login-modal">Login</a>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#register-modal">Register</a>
    </div>
  </div>
</nav>

<!-- <main class="{% if page.layout-type %}{{page.layout-type}}{% else %}{{ layout.layout-type | default: 'container'}}{%endif%}"> -->
<main>
  {{ content }}
</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="navbar-brand" href="#">
          <picture>
            <source media="(min-width: 992px)" srcset="https://dummyimage.com/258x48/f1f2f3/aaaaaa&text=Kwik.Insure">
            <img src="https://dummyimage.com/174x32/f1f2f3/aaaaaa&text=Kwik.Insure" alt="">
          </picture>
        </a>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col">
            <p>Products</p>
            {% include components/molecules/nav.html data=site.data.navigation.footer.products %}
          </div>
          <div class="col">
            <p>Resources</p>
            {% include components/molecules/nav.html data=site.data.navigation.footer.resources %}
          </div>
          <div class="col">
            <p>Get in Touch</p>
            <p>10-01 Fort Legend Tower, 3rd Avenue corner 31st Street, Bonifacio Global City, Taguig, 1632, Philippines</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <p>Copyright © 2020 Kwikinsure Corporation. All rights reserved</p>
    <p>Use of this platform constitutes acceptance of our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></p>
  </div>
</footer>



{% include modal/login.html %}
{% include modal/register.html %}