<div class="modal" id="login-modal" tabindex="-1" da>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-4">
          <div class="embed-responsive embed-responsive-3by4">
            <img class="embed-responsive-item" src="https://dummyimage.com/645x3:4/f1f2f3/aaaaaa" alt="">
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="heading">
                <h1 class="heading-title h2">Sign In</h1>
                <p>with your Kwik.insure account</p>
              </div>
              <form>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" placeholder="Password">
                </div>
                <a class="btn btn-primary btn-lg btn-block" href="">Sign In</a>
                <a class="btn btn-link btn-lg btn-block" href="">Forgot Password</a>
                <hr class="dashed">
                <p>Don’t have an account yet? <a href="">Sign Up</a></p>
              </form>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>